.row {
  overflow: auto;
  padding-bottom: 40px;
}

.columnBtnWrapper {
  border: 1px solid #343A40;
  border-radius: 8px;
  background: #000;
  width: 296px;
  color: #fff;
  transition: 0.3s all;
  height: 50px;
  line-height: 0;
}

/* .columnBtnInner {
  padding: 6px 0;
} */