.row {
  overflow-x: auto;
  padding-bottom: 20px;
  align-items: flex-start;
  height: calc(-346px + 100vh);
}

.columnBtnWrapper {
  border: 1px solid #343A40;
  border-radius: 8px;
  background: #000;
  width: 296px;
  color: #fff;
  transition: 0.3s all;
  height: 50px;
  line-height: 0;
  flex-shrink: 0;
}