.row {
  *overflow-x: auto;
  *overflow-y: hidden;
  padding-bottom: 30px;
  align-items: flex-start;
  height: calc(-346px + 100vh);
  *height: calc(-286px + 100vh);
  flex-grow: 1;
}

.columnBtnWrapper {
  border: 1px solid #343A40;
  border-radius: 8px;
  background: #000;
  width: 296px;
  color: #fff;
  transition: 0.3s all;
  height: 50px;
  line-height: 0;
  flex-shrink: 0;
  font-size: 18px;
}

@media (max-height: 600px) {
  .row {
    height: calc(-286px + 100vh);
  }
}
