.splash {
    background: url("../../assets/noise.svg");
    position: relative;
    overflow: hidden;
  }
  
  .splash:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0px;
    background: url('../../assets/noise.svg');
    background-size: 10%;
    mix-blend-mode: soft-light;
  }