.inputWrapper {
  width: 100%;
  max-width: 300px;
}

.label {
  color: #868E96;
  font-weight: 600;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

@media screen and (max-width: 480px) {
  .heading {
    flex-direction: column;
    padding-bottom: 40px;
    gap: 20px;
  }
}

.name {
  background: #101113;
  border-color: #25262B;
  color: #F8F9FA;
}

.name, .login::placeholder, .password::placeholder {
  color: #F8F9FA;
}

.innerInput {
  color: #F8F9FA;
}

.name:focus, .name:focus-within, .login:focus, .login:focus-within, .password:focus, .password:focus-within {
  border-color: #F1F3F5;
  background-color: #1A1B1E;
}

.submit {
  background: #25262B;
  border-radius: 4px;
  width: 161px;
  height: 39px; 
  *margin-top: 5px;
}

.submit:hover {
  color: #101113;
  background-color: rgba(231, 245, 255, 1);
}