.pageTitle {
  margin: 40px 0;
  text-align: center;
  color: #fff;
}

.aboutTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  color: #fff;
}

img:hover {
  filter: brightness(120%);
}

.aboutList {
  max-width: 488px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 40px;
  gap: 20px;
}

.aboutItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 40px 20px;
  background: linear-gradient(270deg, #101113 0%, rgba(16, 17, 19, 0) 100%);
  border-radius: 0px 17px 17px 0px;
  position: relative;
}

.aboutItem::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: linear-gradient( to right, rgba(52, 58, 64, 1), rgba(52, 58, 64, 0) );
}

.aboutItem:nth-child(2n) {
  background: linear-gradient(90deg, #101113 0%, rgba(16, 17, 19, 0) 100%);
  border-radius: 17px 0px 0px 17px;
}

.aboutItem:nth-child(2n + 1):before {
  background: linear-gradient( to left, rgba(52, 58, 64, 1), rgba(52, 58, 64, 0) );
}

.respList {
  display: flex;
  gap: 6px;
}

.respItem {
  padding: 1px 13px;
  height: 19px;
  font-weight: 700;
  font-size: 11px;
  line-height: 155%;
}

.aboutDescr {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #909296;
}

.techListWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 376px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}

.techTitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 155%;
  color: #5C5F66;
}

.techList {
  display: flex;
  justify-content: space-between;
}

.techList img {
  opacity: 0.5;
}
