.profileHeader {
  margin-bottom: 24px;
  position: relative;
  z-index: 10;
}

.animated-background {
  position: absolute;
}

.button {
  padding: 0 23px;
  font-weight: 600;
  font-size: 16px;
  line-height: 155%;
  background: #25262B;
  border: none;
  color: #fff;
}

.button:hover {
  color: #000;
}

.boardWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.boardItem {
  border: none;
}

.boardTitle {
  padding: 8px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  color: #ADB5BD
}

.boardTitle:hover {
  background: none;
}

.boardDescription {
  margin-top: 16px;
  border-radius: 6px;
  background: #25262B;
  font-weight: 600;
  font-size: 14px;
  line-height: 155%;
  color: #868E96;
}

.boardDescription:hover {
  cursor: pointer;
}

.searchInput {
  margin: 16px 0;
  background: #101113;
  border-color: #25262B;
  color: #ADB5BD;
}

.searchInput::placeholder {
  color: #ADB5BD;
}

.searchInput:focus, .searchInput:focus-within {
  border-color: #F1F3F5;
  background-color: #1A1B1E;
}