.boardWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.boardItem {
  border: none;
}

.boardTitle {
  padding: 8px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  color: #ADB5BD
}

.boardTitle:hover {
  background: none;
}

.boardDescription {
  margin-top: 16px;
  border-radius: 6px;
  background: #25262B;
  font-weight: 600;
  font-size: 14px;
  line-height: 155%;
  color: #868E96;
}

.boardDescription:hover {
  cursor: pointer;
}
