.inputWrapper {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .label {
    color: #868E96;
    font-weight: 600;
  }
  
  .name {
    background: #101113;
    border-color: #25262B;
    color: #F8F9FA;
  }

  .submit {
    background: #25262B;
    border-radius: 4px;
    width: 161px;
    height: 39px; 
    *margin-top: 5px;
  }
  
  .submit:hover {
    color: #101113;
    background-color: rgba(231, 245, 255, 1);
  }