.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  *padding: 0 15px;
  width: 300px;
}

.submit {
  width: 100%;
}

.name, .login {
  width: 100%;
}

.password {
  width: 100%;
}