* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {   
  scroll-behavior: smooth;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px;
}

button {
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--text-color); 
  height: 100%;
}

/* .header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--secondary-color);
} */

.main {
  flex-grow: 1;
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  padding: 0 2rem;
  height: 100%;
}