@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {   
  height: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  color: #909296;
  font-weight: 600;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.center-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

a {
  font-size: 16px;
  font-weight: 600;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page-wrapper {
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.page-login, .page-signup, .page-404 {
  justify-content: center;
}

.page-404 {
  text-align: center;
}

@keyframes rotating {
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}

.animated-background {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.animated-background::after {
  content: '';
  width: 105%;
  height: 100%;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0px;
  background: url('./assets/noise.svg');
  background-size: 40%;
  mix-blend-mode: soft-light;
}

.animated-background::before {
  content: '';
  position: absolute;
  bottom: -160%;
  right: -30%;
  width: 1000px;
  height: 1000px;
  animation: rotating 20s infinite ease-in-out;
  background: linear-gradient(180deg, #ff7615 0%, #c8ff15 14%, #43FFDD 35.88%, #45BCFF 67.65%, #D795FF 100%);
  mix-blend-mode: normal;
  filter: blur(120px);
  border-radius: 300px;
  transform: matrix(0, 1, 1, 0, 0, 0);
}

.animated-background--topLeft:before {
  top: -600px;
  left: -800px;
}

.animated-background--bottomRight:before {
  bottom: -600px;
  right: -800px;
}

.animated-background--topRight:before {
  top: -890px;
  right: -10%;
}

.mantine-ugjxpi {
  color:#fff;
  border: 1px solid transparent;
  background: #25262B;
  border-radius: 4px;
}

.mantine-ugjxpi:hover {
  color: #101113;
  background-color: rgba(231, 245, 255, 1);
}

.board-scroll {
  height: 8px;
}

.board-scroll .os-scrollbar-handle {
  background-color: #343A40;
}

.mantine-7okxq6[data-selected] {
  background-color: #15aabf;
}

.mantine-7okxq6[data-selected]:hover {
  background-color: #0597ab;
}