body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  color: #909296;
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mantine-Paper-root {
  color: white;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 40px;
  border: 1px solid #343A40;
  border-radius: 17px;
  width: 460px;
  background-color: #101113;
  position: relative;
}

.mantine-Drawer-drawer {
  max-width: 400px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: inherit;
  gap: 0;
}

.mantine-Drawer-header {
  margin-bottom: 30px;
}
