.splash {
  padding: 68px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: url("../../assets/noise.svg");
}

@keyframes rotating {
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}

.rotate {
  animation: rotation 1s infinite linear;
}

.splash:after {
  content: '';
  width: 105%;
  height: 100%;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0px;
  background: url('../../assets/noise.svg');
  background-size: 40%;
  mix-blend-mode: soft-light;
}

.splash:before {
  content: '';
  position: absolute;
  bottom: -150%;
  right: -35%;
  width: 1000px;
  height: 1000px;
  animation: rotating 20s infinite ease-in-out;
  background: linear-gradient(180deg, #ff7615 0%, #c8ff15 14%, #43FFDD 35.88%, #45BCFF 67.65%, #D795FF 100%);
  mix-blend-mode: normal;
  filter: blur(120px);
  border-radius: 300px;
  transform: matrix(0, 1, 1, 0, 0, 0);
}

.subtitle {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 155%;
  letter-spacing: -0.04em;
  position: relative;
  z-index: 10;
}

.title {
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.04em;
  white-space: pre-line;
  position: relative;
  z-index: 10;
}

.description {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  white-space: pre-line;
  position: relative;
  z-index: 10;
}

.button {
  font-size: 18px;
  line-height: 155%;
  position: relative;
  z-index: 10;
}

.features {
  display: flex;
  gap: 35px;
  padding: 50px 0;
  text-align: center;
  justify-content: center;
}

.feature {
  max-width: 320px;
  padding: 60px 20px 60px;
  border-radius: 17px;
  background: linear-gradient(180deg, #101113 0%, rgba(16, 17, 19, 0) 100%);
}

.feature img {
  margin-bottom: 27px;
}

.featureTitle {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 155%;
}

.featureDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
}

.mainPageText {
  display: flex;
  gap: 75px;
  align-items: center;
  padding: 60px 0;
}

.mainPageText h3 {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: -0.04em;
}

.mainPageText p {
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
}

.textWrapper {
  width: 100%;
}

.textImg {
  max-width: 640px;
  width: 100%;
}

.textSubTitle {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.04em;
  color: #fff;
}

.gradientBorder {
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box; 
  border: solid 1px transparent;
  border-style: solid;
}

.gradientBorder:before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  margin: -1px; 
  border-radius: inherit; 
  background: linear-gradient(
    to bottom, 
    rgba(52, 58, 64, 1), 
    rgba(52, 58, 64, 0)
  ) ;
}


/* MEDIA QUERIES */
@media (max-width: 768px) {
  .title {
    font-size: 40px;
  }
  .features {
    flex-direction: column;
  }
  .feature {
    max-width: 100%;
    width: 100%;
  }
  .mainPageText {
    flex-direction: column;
  }
  .textWrapper {
    text-align: center;
    order: 2;
  }
  .textImg {
    order: 1;
  }
  .textSubTitle {
    justify-content: center;
  }
}