.form {
  *max-width: 460px;
  *padding-top: 60px;
}

.inputWrapper {
  width: 100%;
  margin-bottom: 20px;
  transition: all 0.3s;
}

.label {
color: #868E96;
font-weight: 600;
}

.name:focus, .name:focus-within {
border-color: #F1F3F5;
background-color: #1A1B1E;
}

.name {
background: #101113;
border-color: #25262B;
color: #F8F9FA;
}

.selectValue {
  background: #25262b;
  color: #F8F9FA;
}

.submit {
background: #25262B;
border-radius: 4px;
width: 161px;
height: 39px; 
*margin-top: 5px;
}

.submit:hover {
color: #101113;
background-color: rgba(231, 245, 255, 1);
}

.form{
display: flex;
flex-direction: column;
align-items: center;
}